/* LoginScreen */
.outer-LoginDiv {
  background-color: var(--color-green);
  min-height: 100vh;
  padding-top: 14vh;
}

/* MainScreen */
.outer-maindiv {
  background-color: var(--color-ice-light);
  overflow: hidden;
}

.inner-maindiv {
  background-color: var(--color-ice);
  min-height: 100vh;
}

.outer-SignUpDiv {
  background-color: var(--bs-cyan);
  min-height: 100vh;
}

/* VitalsScreen */
.outer-VitalsDiv {
  background-color: var(--color-ice-light);
  min-height: 100vh;
}
