/* SignUpScreen */
.outer-SignUpDiv {
  background-color: var(--bs-primary-500);
  min-height: 100vh;
}

/* LoginScreen */
.outer-LoginDiv {
  background-color: var(--color-green);
  min-height: 100vh;
  padding-top: 14vh;
}

/* MainScreen */
.outer-maindiv {
  /* background-color: var(--color-ice-light); */
  overflow: hidden;
}

.inner-maindiv {
  background-color: var(--bs-primary);
  min-height: 100vh;
}

/* Tabs */
.outer-tabsDiv {
  background-color: var(--bs-light);
  min-height: 100vh;
}

/* IndexScreen */
.outer-indexdiv {
  background-color: var(--bs-gray-300);
  padding-top: 2vh;
  min-height: 100vh;
  background-image: url("../assets/IndexScreen_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
