/* btn css */
.btn-primary {
  background-color: var(--color-white) !important;
  color: #000 !important;
  border-color: #000 !important;
  border-radius: 12px !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--bs-gray) !important;
  box-shadow: none !important;
}

.btn-primary:active {
  background-color: var(--bs-dark) !important;
}
