.form-cumstom-tab {
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 1rem;
}

.form-custom {
  background-color: var(--bs-gray-400);
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.1rem var(--bs-gray-900);
}

/* input css */
.label {
  font-size: 14px;
  font-weight: bold;
}

.inputValues {
  border-radius: 14px;
  padding: 4px;
  width: 100%;
  border-color: var(--bs-gray-500) !important;
  background-color: var(--bs-gray-100);
}

.inputValues:hover {
  outline: none;
  border-color: var(--bs-gray-500) !important;
  background-color: var(--bs-gray-300);
  transition: background-color 200ms ease;
}

.inputValues:focus {
  outline: none;
  border-color: var(--bs-gray-900) !important;
  background-color: var(--bs-gray-50);
  transition: background-color 200ms ease;
}
